body {
	background-color: #000;
	color: #fff;
	font-family: 'Arial', sans-serif;
	display: grid;
	place-items: center;
}

#canvas {
	border: 1px solid #fff;
}

#flipbutton {
	background: none;
	border: 1px solid white;
	color: white;
	padding: 10px 20px;
	border-radius: 1em;
	margin-top: 2em;
	cursor: pointer;
}

#flipbutton:hover {
	background-color: white;
	color: black;
}
